fixed-workflows/Topher AI — Inbound SMS Handler.json
{
  "name": "Topher AI — Inbound SMS Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topherai-inbound-sms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9a9eb853-d9f9-46a4-b98e-5707877cf6ca",
      "name": "Inbound SMS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        272
      ],
      "webhookId": "inbound-sms-intake"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "7506d7e2-b3ea-473f-8bb2-0f840f0f0b92",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        224,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\n// Telnyx wraps data in body.data or root level\nconst data    = body.data || body;\nconst payload = data.payload || data;\n\nconst from    = payload.from?.phone_number || payload.from || '';\nconst to      = payload.to?.[0]?.phone_number || payload.to || '';\nconst text    = payload.text || payload.body || payload.message || '';\nconst msgId   = payload.id || data.id || '';\n\n// Normalize to E.164\nlet fromNorm = from.trim();\nif (fromNorm && !fromNorm.startsWith('+')) {\n  const d = fromNorm.replace(/\\D/g,'');\n  fromNorm = d.length === 10 ? '+1' + d : '+' + d;\n}\n\nif (!fromNorm || !text) {\n  // Still return a passthrough so downstream nodes can see what came in\n  return [{ json: { from: fromNorm || 'unknown', to, text: text || '', msgId, receivedAt: new Date().toISOString(), parseError: true } }];\n}\n\nreturn [{ json: { from: fromNorm, to, text, msgId, receivedAt: new Date().toISOString(), parseError: false } }];"
      },
      "id": "513a3d5c-0420-42db-b78f-4222119303bc",
      "name": "Parse Inbound SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "no-parse-error",
              "leftValue": "={{ $json.parseError }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e71405e-5725-4172-99f3-c801adbbabb5",
      "name": "Has Valid Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        448,
        368
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=eq.{{ $json.from }}"
            },
            {
              "name": "select",
              "value": "name,email,urgency,lead_status"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a4f237e-3063-4de1-a388-684b29584546",
      "name": "Lookup Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        672,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const inbound  = $('Parse Inbound SMS').item.json;\nconst contacts = $input.item.json;\n\n// contacts is an array from Supabase\nconst arr     = Array.isArray(contacts) ? contacts : [];\nconst contact = arr[0] || null;\n\nconst name       = contact?.name || 'Unknown Lead';\nconst email      = contact?.email || '';\nconst urgency    = contact?.urgency || 'unknown';\nconst leadStatus = contact?.lead_status || 'unknown';\n\nconst urgencyEmoji = urgency === 'hot' ? '🔥' : urgency === 'warm' ? '⚡' : urgency === 'cold' ? '❄️' : '💬';\n\nconst alertText = `${urgencyEmoji} INBOUND REPLY\\n\\nFrom: ${name}\\nPhone: ${inbound.from}\\nStatus: ${leadStatus}\\n\\nMessage:\\n\"${inbound.text}\"`;\n\nreturn [{ json: {\n  ...inbound,\n  name,\n  email,\n  urgency,\n  leadStatus,\n  urgencyEmoji,\n  alertText\n} }];"
      },
      "id": "14e4c1a7-ee07-4520-ab01-01ae0cb06830",
      "name": "Build Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/sms_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"to_number\": $json.to, \"from_number\": $json.from, \"message\": $json.text, \"direction\": \"inbound\", \"message_type\": \"lead_reply\", \"status\": \"received\" } }}",
        "options": {}
      },
      "id": "460d109b-63b4-42c5-9e84-25f2a4a1b917",
      "name": "Log Inbound to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telnyx.com/v2/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SMS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"from\": $vars.SMS_FROM_NUMBER, \"to\": $vars.ADMIN_PHONE, \"text\": $json.alertText } }}",
        "options": {}
      },
      "id": "ed716724-70c9-47e7-a326-78792370cb96",
      "name": "Alert Admin SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        368
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=eq.{{ $('Parse Inbound SMS').item.json.from }}"
            },
            {
              "name": "lead_status",
              "value": "=eq.new"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"lead_status\": \"contacted\", \"updated_at\": new Date().toISOString() } }}",
        "options": {}
      },
      "id": "27e63db0-3436-46eb-94e3-20f37482f239",
      "name": "Update Lead to Contacted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Inbound SMS Webhook": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Inbound SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Inbound SMS": {
      "main": [
        [
          {
            "node": "Has Valid Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Valid Message?": {
      "main": [
        [
          {
            "node": "Lookup Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Contact": {
      "main": [
        [
          {
            "node": "Build Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert": {
      "main": [
        [
          {
            "node": "Log Inbound to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert Admin SMS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Lead to Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "634b322c-4f25-45f9-9bd7-2bc4e0ee9279",
  "meta": {
    "instanceId": "57d0131561cd8e704494b6c3a013d895c007284d2bb85831b19e2b772ee29e9d"
  },
  "id": "diyWKp54op0MsDF3",
  "tags": []
}