post-call-sms-workflow.json
{
  "name": "Topher AI — Post-Call Booking SMS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topherai-post-call-sms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "post-call-webhook",
      "name": "Post Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "post-call-sms"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true } }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [480, 160]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\n// Vapi sends call data in the message object\nconst message = body.message || body;\nconst call    = message.call || message;\n\nconst customerPhone = call.customer?.number || '';\nconst customerName  = call.customer?.name  || 'there';\nconst firstName     = customerName.split(' ')[0] || customerName;\n\n// Only send SMS if customer answered (not no-answer/voicemail)\nconst endedReason = call.endedReason || message.endedReason || '';\nconst answered = !['no-answer','busy','failed','voicemail'].includes(endedReason);\n\nif (!customerPhone || !answered) {\n  return [];\n}\n\nreturn [{ json: { customerPhone, firstName, endedReason } }];"
      },
      "id": "parse-call",
      "name": "Parse Call Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telnyx.com/v2/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.SMS_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"from\": $vars.SMS_FROM_NUMBER, \"to\": $json.customerPhone, \"text\": \"Hey \" + $json.firstName + \"! It was great chatting with you. Here's the link to grab a time with Chris:\\n\\nhttps://cal.com/christopher-wrgldt/topher-ai-demo-call\\n\\nTakes 2 minutes to book. Talk soon! — Topher AI\" } }}",
        "options": {}
      },
      "id": "send-booking-sms",
      "name": "Send Booking Link SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 420]
    }
  ],
  "connections": {
    "Post Call Webhook": {
      "main": [[
        { "node": "Respond OK",       "type": "main", "index": 0 },
        { "node": "Parse Call Data",  "type": "main", "index": 0 }
      ]]
    },
    "Parse Call Data": {
      "main": [[{ "node": "Send Booking Link SMS", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
