Topher AI — Vapi Call Writeback (fixed).json
{
  "name": "Topher AI — Vapi Call Writeback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topherai-vapi-writeback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f5e5e8f9-9396-45bb-bf1d-9bb9c10ab54e",
      "name": "Vapi End-of-Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-6944, 3424],
      "webhookId": "231d0e0b-3b98-4e98-bba4-ec12d609353b"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true } }}",
        "options": { "responseCode": 200 }
      },
      "id": "cc253d89-b5eb-49b2-ae9e-e7a1e8b922fc",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-6720, 3328]
    },
    {
      "parameters": {
        "jsCode": "// Helper: normalize string \"null\" / empty / undefined to actual null\nconst norm = (v) => {\n  if (v === null || v === undefined) return null;\n  if (typeof v !== 'string') return v;\n  const t = v.trim().toLowerCase();\n  if (t === '' || t === 'null' || t === 'undefined' || t === 'n/a' || t === 'none') return null;\n  return v;\n};\n\nconst body = $input.item.json.body || $input.item.json;\nconst msg = body.message || body;\n\nconst eventType = msg.type || '';\nif (eventType && eventType !== 'end-of-call-report') {\n  return [{ json: { skip: true, reason: 'not end-of-call event: ' + eventType } }];\n}\n\nconst call = msg.call || {};\nconst customer = call.customer || {};\nconst analysis = msg.analysis || {};\nconst structured = analysis.structuredData || {};\n\nconst callId = call.id || msg.callId || '';\nconst customerPhone = customer.number || msg.customer?.number || '';\nconst customerName = customer.name || msg.customer?.name || '';\n\nconst callMetadata = call.metadata || msg.metadata || {};\nconst webSource = callMetadata.source || '';\nconst SOFIA_ID = 'a91daf92-a477-46ed-b4cf-3e8df3a92699';\nconst RILEY_ID = '6e9f5b0d-bb8b-4409-974a-557f78f62172';\n\nconst assistantId = call.assistantId \n  || msg.assistantId \n  || msg.assistant?.id \n  || call.assistant?.id \n  || '';\n\nconst artifact = msg.artifact || call.artifact || {};\nconst messages = artifact.messagesOpenAIFormatted || artifact.messages || msg.messages || [];\n\nconst lastFew = (Array.isArray(messages) ? messages : []).slice(-5);\nconst recentText = lastFew.map(m => (m.content || m.message || '')).join(' ').toLowerCase();\nconst transcriptLower = (msg.transcript || '').toLowerCase();\n\n// Language is determined ONLY by which assistant handled the call.\n// Sofia (SOFIA_ID) = Spanish. Everyone else = English.\n// The previous hasSpanishContent keyword check was causing false positives:\n// Riley's own system prompt and handoff phrases contain 'en español',\n// which caused English calls to be misclassified as Spanish.\nlet language = 'en';\nif (assistantId === SOFIA_ID) {\n  language = 'es';\n}\n\nconst webPage = callMetadata.page || '';\nconst isWebCall = webSource.startsWith('website_');\nconst startedAt = call.startedAt || msg.startedAt || null;\nconst endedAt = call.endedAt || msg.endedAt || null;\nconst endedReason = call.endedReason || msg.endedReason || '';\nconst durationSec = Math.round(msg.durationSeconds || (startedAt && endedAt ? (new Date(endedAt) - new Date(startedAt)) / 1000 : 0));\nconst transcript = msg.transcript || analysis.transcript || '';\nconst summary = analysis.summary || msg.summary || '';\nconst recordingUrl = msg.recordingUrl || call.recordingUrl || '';\nconst successEval = analysis.successEvaluation || '';\nconst cost = msg.cost || 0;\n\nconst noAnswerReasons = ['no-answer','busy','failed','customer-did-not-answer','voicemail','customer-busy','customer-ended-call-quickly'];\nconst wasAnswered = !noAnswerReasons.some(r => endedReason.toLowerCase().includes(r)) && durationSec > 10;\n\nlet normalizedPhone = (customerPhone || '').trim();\nif (normalizedPhone && !normalizedPhone.startsWith('+')) {\n  const digits = normalizedPhone.replace(/\\D/g,'');\n  normalizedPhone = digits.length === 10 ? '+1' + digits : '+' + digits;\n}\nif (!normalizedPhone && isWebCall) {\n  normalizedPhone = 'web:' + callId.slice(0, 12);\n}\n\nconst extracted = {\n  business_name: norm(structured.business_name || structured.businessName),\n  industry: norm(structured.industry),\n  pain_point: norm(structured.pain_point || structured.painPoint),\n  service_interest: norm(structured.service_interest || structured.serviceInterest),\n  budget: norm(structured.budget),\n  timeline: norm(structured.timeline),\n  num_locations: norm(structured.num_locations || structured.locations),\n  weekly_missed: norm(structured.weekly_missed || structured.weeklyMissed),\n  current_setup: norm(structured.current_setup || structured.currentSetup),\n  booked: structured.booked === true || structured.booked === 'true',\n  qualified: structured.qualified === true || structured.qualified === 'true',\n  escalate: structured.escalate === true || structured.escalate === 'true',\n  escalate_reason: norm(structured.escalate_reason || structured.escalateReason) || '',\n  sentiment: norm(structured.sentiment || analysis.sentiment) || 'neutral',\n  next_action: norm(structured.next_action || structured.nextAction) || ''\n};\n\nreturn [{ json: {\n  skip: false,\n  callId,\n  customerPhone: normalizedPhone,\n  customerName,\n  firstName: (customerName || '').split(' ')[0] || '',\n  startedAt,\n  endedAt,\n  endedReason,\n  durationSec,\n  transcript,\n  summary,\n  recordingUrl,\n  successEval,\n  cost,\n  wasAnswered,\n  extracted,\n  isWebCall,\n  webSource,\n  webPage,\n  assistantId,\n  language\n} }];"
      },
      "id": "36024025-8306-4380-a6a8-1c5a6aceac9e",
      "name": "Parse Vapi Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-6720, 3520]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [{ "id": "not-skip", "leftValue": "={{ $json.skip }}", "rightValue": false, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d22a8c7-6199-4a07-a1a7-a9d6608c5308",
      "name": "Valid Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-6496, 3520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/calls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"call_id\": $json.callId,\n  \"caller_phone\": $json.customerPhone,\n  \"caller_name\": $json.customerName,\n  \"started_at\": $json.startedAt,\n  \"ended_at\": $json.endedAt,\n  \"duration_seconds\": $json.durationSec,\n  \"ended_reason\": $json.endedReason,\n  \"call_status\": $json.wasAnswered ? \"answered\" : \"no_answer\",\n  \"call_type\": \"inbound\",\n  \"urgency\": $json.extracted.qualified || $json.extracted.booked ? \"hot\" : ($json.extracted.sentiment === \"negative\" ? \"cold\" : \"warm\"),\n  \"transcript\": $json.transcript,\n  \"summary\": $json.summary,\n  \"recording_url\": $json.recordingUrl,\n  \"language\": \"en\",\n  \"sentiment\": $json.extracted.sentiment,\n  \"booked\": $json.extracted.booked,\n  \"inquiry\": $json.extracted.service_interest,\n  \"source\": $json.isWebCall ? (\"vapi_web:\" + ($json.webSource || \"unknown\").replace(\"website_\", \"\")) : \"vapi_phone\"\n} }}",
        "options": {}
      },
      "id": "825db1e8-0291-4c00-9b32-c135b167ad62",
      "name": "Log Call to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-6272, 3424]
    },
    {
      "parameters": {
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "phone", "value": "=eq.{{ $json.customerPhone }}" },
            { "name": "select", "value": "id,name,phone,business_name,industry,pain_point,urgency,lead_status,call_count" },
            { "name": "limit", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "cfc9e622-dcb6-43de-8364-72d584a949f7",
      "name": "Fetch Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-6272, 3616],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const callData = $('Parse Vapi Payload').item.json;\nconst isAnonymousWeb = callData.isWebCall && callData.customerPhone.startsWith('web:');\nconst contactsArr = $input.item.json;\nconst existingContact = (Array.isArray(contactsArr) && contactsArr.length > 0) ? contactsArr[0] : null;\nconst ex = callData.extracted;\n\nlet urgency = 'warm';\nif (ex.booked) { urgency = 'hot'; }\nelse if (ex.qualified) { urgency = 'hot'; }\nelse if (ex.escalate) { urgency = 'hot'; }\nelse if (!callData.wasAnswered) { urgency = existingContact?.urgency || 'warm'; }\nelse if (ex.sentiment === 'negative') { urgency = 'cold'; }\n\nlet leadStatus = 'contacted';\nif (ex.booked) { leadStatus = 'demo_scheduled'; }\nelse if (ex.qualified) { leadStatus = 'qualified'; }\nelse if (!callData.wasAnswered) { leadStatus = 'attempted'; }\nelse if (ex.sentiment === 'negative' || ex.next_action === 'dead') { leadStatus = 'dead'; }\nelse { leadStatus = 'contacted'; }\n\nconst contactUpdate = {\n  urgency,\n  lead_status: leadStatus,\n  last_call_at: callData.endedAt || new Date().toISOString(),\n  last_call: callData.endedAt || new Date().toISOString(),\n  call_count: (existingContact?.call_count || 0) + 1,\n  updated_at: new Date().toISOString()\n};\nif (callData.customerName)  contactUpdate.name = callData.customerName;\nif (ex.business_name)       contactUpdate.business_name = ex.business_name;\nif (ex.industry)            contactUpdate.industry = ex.industry;\nif (ex.pain_point)          contactUpdate.pain_point = ex.pain_point;\nif (ex.service_interest)    contactUpdate.service_interest = ex.service_interest;\nif (ex.budget)              contactUpdate.budget = ex.budget;\nif (ex.timeline)            contactUpdate.timeline = ex.timeline;\nif (callData.language)      contactUpdate.language = callData.language;\n\nlet branch = 'nurture';\nif (!callData.wasAnswered)              branch = 'no_answer';\nelse if (ex.booked)                     branch = 'booked';\nelse if (ex.escalate)                   branch = 'escalate';\nelse if (ex.qualified)                  branch = 'qualified_no_book';\nelse if (leadStatus === 'dead')         branch = 'dead';\nelse                                     branch = 'nurture';\n\nreturn [{ json: {\n  ...callData,\n  existingContact,\n  contactExists: !!existingContact,\n  contactUpdate,\n  branch,\n  urgency,\n  leadStatus\n} }];"
      },
      "id": "55cc302b-9d9d-47c9-bb77-8d15d1ddea94",
      "name": "Decide Outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-6048, 3616]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [{ "id": "23b3857a-23c5-42ab-9f95-7544fd9b7d4f", "leftValue": "={{ $json.existingContact?.id }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6b7747ea-af7b-45b6-ac8d-a8112589994e",
      "name": "Contact Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-5824, 3616]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/contacts?phone=eq.{{ encodeURIComponent($json.customerPhone) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.assign({ phone: $json.customerPhone }, $json.contactUpdate) }}",
        "options": {}
      },
      "id": "0c6d1a0e-5dc9-4895-86cf-60dfe20562bf",
      "name": "Update Existing Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-5600, 3568]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/contacts?on_conflict=phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.assign({ phone: $json.customerPhone }, $json.contactUpdate) }}",
        "options": {}
      },
      "id": "42084db6-7088-4517-a937-b48f901aa648",
      "name": "Insert New Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-5600, 3760]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "branch-booked", "leftValue": "={{ $('Decide Outcome').item.json.branch }}", "rightValue": "booked", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "booked" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "branch-escalate", "leftValue": "={{ $('Decide Outcome').item.json.branch }}", "rightValue": "escalate", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "escalate" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "branch-qualified", "leftValue": "={{ $('Decide Outcome').item.json.branch }}", "rightValue": "qualified_no_book", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "qualified_no_book" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "branch-no-answer", "leftValue": "={{ $('Decide Outcome').item.json.branch }}", "rightValue": "no_answer", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "no_answer" }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "nurture_or_dead" }
      },
      "id": "191b8383-8cce-40e0-af9c-17edc9bacd92",
      "name": "Route by Outcome",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-5376, 3712]
    },
    {
      "parameters": { "jsCode": "const d = $('Decide Outcome').item.json;\nconst first = d.firstName || 'there';\nconst firstEs = d.firstName || 'amigo';\nconst sumShort = (d.summary || '').slice(0, 200);\nconst biz = d.extracted.business_name || (d.extracted.industry ? d.extracted.industry.replace(/_/g, ' ') + ' (name not given)' : 'Unknown');\nconst langTag = d.language === 'es' ? '🇪🇸 SPANISH CALL — ' : '';\nconst alertText = `🎯 ${langTag}BOOKED ON CALL\\n\\n${d.customerName || 'Unknown'}\\n${d.customerPhone}\\nBiz: ${biz}\\nPain: ${d.extracted.pain_point || 'Unknown'}\\nDuration: ${d.durationSec}s\\n\\n${sumShort}`.slice(0, 1400);\nlet leadSms;\nif (d.language === 'es') { leadSms = `hola ${firstEs} — ¡qué chévere hablar contigo! aquí está el link de agendamiento para que asegures tu hora:\\n\\nhttps://cal.com/christopher-wrgldt/topher-ai-demo-call\\n\\nchristopher va a ver tu reserva y te contactará. ¡hablamos pronto! 🎯`; } else { leadSms = `hey ${first} — great chatting just now! sending the booking link so you can lock in a time:\\n\\nhttps://cal.com/christopher-wrgldt/topher-ai-demo-call\\n\\nchris will see your booking and reach out. talk soon 🎯`; }\nreturn [{ json: { ...d, alertText, leadSms } }];" },
      "id": "5c4aa851-4976-4778-b7a0-798279f03cc8",
      "name": "Build Booked Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5152, 3280]
    },
    {
      "parameters": { "jsCode": "const d = $('Decide Outcome').item.json;\nconst first = d.firstName || 'there';\nconst firstEs = d.firstName || 'amigo';\nconst reason = (d.extracted.escalate_reason || 'flagged for human follow-up').slice(0, 150);\nconst sumShort = (d.summary || '').slice(0, 200);\nconst biz = d.extracted.business_name || (d.extracted.industry ? d.extracted.industry.replace(/_/g, ' ') + ' (name not given)' : 'Unknown');\nconst langTag = d.language === 'es' ? '🇪🇸 SPANISH CALL — ' : '';\nconst alertText = `🔥 ${langTag}CALL NEEDS YOU\\n\\n${d.customerName || 'Unknown'}\\n${d.customerPhone}\\nBiz: ${biz}\\nLocations: ${d.extracted.num_locations || '?'}\\n\\nReason: ${reason}\\n\\nSummary: ${sumShort}\\n\\nDuration: ${d.durationSec}s\\n${d.recordingUrl ? 'Recording: ' + d.recordingUrl : ''}`.slice(0, 1400);\nlet leadSms;\nif (d.language === 'es') { leadSms = `hola ${firstEs} — gracias por la llamada. christopher te va a contactar directamente dentro de la próxima hora para conversar más. ¡hablamos pronto! 👋`; } else { leadSms = `hey ${first} — appreciate the call. chris will reach out to you directly within the hour to dig in. talk soon 👋`; }\nreturn [{ json: { ...d, alertText, leadSms } }];" },
      "id": "cd43267e-11c9-4e25-a8d1-c32ed2313daa",
      "name": "Build Escalation Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5152, 3520]
    },
    {
      "parameters": { "jsCode": "const d = $('Decide Outcome').item.json;\nconst first = d.firstName || 'there';\nconst firstEs = d.firstName || 'amigo';\nconst sumShort = (d.summary || '').slice(0, 200);\nconst biz = d.extracted.business_name || (d.extracted.industry ? d.extracted.industry.replace(/_/g, ' ') + ' (name not given)' : 'Unknown');\nconst langTag = d.language === 'es' ? '🇪🇸 SPANISH CALL — ' : '';\nconst alertText = `⚡ ${langTag}QUALIFIED — NO BOOK\\n\\n${d.customerName || 'Unknown'}\\n${d.customerPhone}\\nBiz: ${biz}\\nPain: ${d.extracted.pain_point || 'Unknown'}\\nDuration: ${d.durationSec}s\\n\\n${sumShort}\\n\\nCal.com link sent automatically.`.slice(0, 1400);\nlet leadSms;\nif (d.language === 'es') { leadSms = `hola ${firstEs} — qué bueno hablar contigo. aquí está el link para agendar una hora con christopher cuando estés listo:\\n\\nhttps://cal.com/christopher-wrgldt/topher-ai-demo-call\\n\\nsin apuros, son 2 minutos para reservar 🎯`; } else { leadSms = `hey ${first} — great chat. here's the link to grab a time with chris when you're ready:\\n\\nhttps://cal.com/christopher-wrgldt/topher-ai-demo-call\\n\\nno rush, takes 2 min to book 🎯`; }\nreturn [{ json: { ...d, alertText, leadSms } }];" },
      "id": "b2f510fd-3f93-428a-a826-7235733f040e",
      "name": "Build Qualified Followup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5152, 3760]
    },
    {
      "parameters": { "jsCode": "const d = $('Decide Outcome').item.json;\nconst first = d.firstName || 'there';\nconst firstEs = d.firstName || 'amigo';\nconst langTag = d.language === 'es' ? '🇪🇸 SPANISH CALL — ' : '';\nconst alertText = `❄️ ${langTag}NO ANSWER\\n\\n${d.customerName || 'Unknown'}\\n${d.customerPhone}\\nEnded: ${d.endedReason}\\nDuration: ${d.durationSec}s`.slice(0, 1400);\nlet leadSms;\nif (d.language === 'es') { leadSms = `hola ${firstEs} — sofía aquí de topher AI, te llamé hace un momento. tranquilo, puedes responder este mensaje cuando quieras o agendar una llamada rápida con christopher: https://cal.com/christopher-wrgldt/topher-ai-demo-call`; } else { leadSms = `hey ${first} — riley from topher AI here, just tried you. no worries, text me back anytime or grab a quick call with chris: https://cal.com/christopher-wrgldt/topher-ai-demo-call`; }\nreturn [{ json: { ...d, alertText, leadSms } }];" },
      "id": "44fb0407-56b5-4cb0-9e53-8020ebc19da1",
      "name": "Build No-Answer Followup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5152, 3952]
    },
    {
      "parameters": { "jsCode": "const d = $('Decide Outcome').item.json;\nconst first = d.firstName || 'there';\nconst firstEs = d.firstName || 'amigo';\nconst sumShort = (d.summary || '').slice(0, 200);\nconst biz = d.extracted.business_name || (d.extracted.industry ? d.extracted.industry.replace(/_/g, ' ') + ' (name not given)' : 'Unknown');\nconst langTag = d.language === 'es' ? '🇪🇸 SPANISH CALL — ' : '';\nconst alertText = `💬 ${langTag}CALL COMPLETED — NURTURE\\n\\n${d.customerName || 'Unknown'}\\n${d.customerPhone}\\nBiz: ${biz}\\nStatus: ${d.leadStatus}\\nDuration: ${d.durationSec}s\\n\\n${sumShort}`.slice(0, 1400);\nlet leadSms;\nif (d.language === 'es') { leadSms = `hola ${firstEs} — gracias por la llamada. aquí está un link de demo + agendamiento cuando estés listo:\\n\\nhttps://cal.com/christopher-wrgldt/topher-ai-demo-call\\n\\nsin presión, puedes responder este mensaje cuando quieras 👋`; } else { leadSms = `hey ${first} — thanks for the call. here's a quick demo + booking link whenever you're ready:\\n\\nhttps://cal.com/christopher-wrgldt/topher-ai-demo-call\\n\\nno pressure, text this number anytime 👋`; }\nreturn [{ json: { ...d, alertText, leadSms } }];" },
      "id": "113154b3-0d75-4f16-bed6-5eba5b1c15af",
      "name": "Build Nurture Followup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5152, 4144]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telnyx.com/v2/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $vars.SMS_API_KEY }}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"from\": $vars.SMS_FROM_NUMBER, \"to\": $vars.ADMIN_PHONE, \"text\": $json.alertText } }}",
        "options": {}
      },
      "id": "3a2eb09a-d0da-43d7-9cb2-308a7b575026",
      "name": "Alert Christopher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-4928, 3760]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst phone = data.customerPhone || '';\nif (!phone || phone.startsWith('web:') || phone.startsWith('unknown')) {\n  console.log('[Phone Guard] Skipping SMS — web call or no phone:', phone);\n  return [];\n}\nconst digits = phone.replace(/\\D/g, '');\nif (digits.length < 10) {\n  console.log('[Phone Guard] Skipping SMS — invalid phone:', phone);\n  return [];\n}\nconsole.log('[Phone Guard] Valid phone, proceeding with SMS:', phone);\nreturn [{ json: data }];"
      },
      "id": "3bc57ddb-3663-4596-8779-7e47bc0ae80a",
      "name": "Phone Valid for SMS?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4928, 3952]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telnyx.com/v2/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $vars.SMS_API_KEY }}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"from\": $vars.SMS_FROM_NUMBER, \"to\": $json.customerPhone, \"text\": $json.leadSms } }}",
        "options": {}
      },
      "id": "4a76c3a5-22de-4118-95c9-1ebfe8c1066a",
      "name": "Send Lead Followup SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-4704, 3952]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/sms_messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_KEY }}" }, { "name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"to_number\": $('Decide Outcome').item.json.customerPhone,\n  \"from_number\": $vars.SMS_FROM_NUMBER,\n  \"message\": ($if($('Build Booked Alert').isExecuted, $('Build Booked Alert').item.json.leadSms, '')) || ($if($('Build Escalation Alert').isExecuted, $('Build Escalation Alert').item.json.leadSms, '')) || ($if($('Build Qualified Followup').isExecuted, $('Build Qualified Followup').item.json.leadSms, '')) || ($if($('Build No-Answer Followup').isExecuted, $('Build No-Answer Followup').item.json.leadSms, '')) || ($if($('Build Nurture Followup').isExecuted, $('Build Nurture Followup').item.json.leadSms, '')) || 'message not captured',\n  \"direction\": \"outbound\",\n  \"message_type\": \"post_call_followup\",\n  \"status\": \"sent\",\n  \"call_id\": $('Decide Outcome').item.json.callId\n} }}",
        "options": {}
      },
      "id": "beb0e723-3944-4da5-a312-c24705d83869",
      "name": "Log Lead SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-4480, 3952]
    }
  ],
  "pinData": {},
  "connections": {
    "Vapi End-of-Call Webhook": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }, { "node": "Parse Vapi Payload", "type": "main", "index": 0 }]] },
    "Parse Vapi Payload": { "main": [[{ "node": "Valid Event?", "type": "main", "index": 0 }]] },
    "Valid Event?": { "main": [[{ "node": "Log Call to Supabase", "type": "main", "index": 0 }, { "node": "Fetch Contact", "type": "main", "index": 0 }]] },
    "Fetch Contact": { "main": [[{ "node": "Decide Outcome", "type": "main", "index": 0 }]] },
    "Decide Outcome": { "main": [[{ "node": "Contact Exists?", "type": "main", "index": 0 }]] },
    "Contact Exists?": {
      "main": [
        [{ "node": "Update Existing Contact", "type": "main", "index": 0 }],
        [{ "node": "Insert New Contact", "type": "main", "index": 0 }]
      ]
    },
    "Update Existing Contact": { "main": [[{ "node": "Route by Outcome", "type": "main", "index": 0 }]] },
    "Insert New Contact": { "main": [[{ "node": "Route by Outcome", "type": "main", "index": 0 }]] },
    "Route by Outcome": {
      "main": [
        [{ "node": "Build Booked Alert", "type": "main", "index": 0 }],
        [{ "node": "Build Escalation Alert", "type": "main", "index": 0 }],
        [{ "node": "Build Qualified Followup", "type": "main", "index": 0 }],
        [{ "node": "Build No-Answer Followup", "type": "main", "index": 0 }],
        [{ "node": "Build Nurture Followup", "type": "main", "index": 0 }]
      ]
    },
    "Build Booked Alert": { "main": [[{ "node": "Alert Christopher", "type": "main", "index": 0 }, { "node": "Phone Valid for SMS?", "type": "main", "index": 0 }]] },
    "Build Escalation Alert": { "main": [[{ "node": "Alert Christopher", "type": "main", "index": 0 }, { "node": "Phone Valid for SMS?", "type": "main", "index": 0 }]] },
    "Build Qualified Followup": { "main": [[{ "node": "Alert Christopher", "type": "main", "index": 0 }, { "node": "Phone Valid for SMS?", "type": "main", "index": 0 }]] },
    "Build No-Answer Followup": { "main": [[{ "node": "Alert Christopher", "type": "main", "index": 0 }, { "node": "Phone Valid for SMS?", "type": "main", "index": 0 }]] },
    "Build Nurture Followup": { "main": [[{ "node": "Alert Christopher", "type": "main", "index": 0 }, { "node": "Phone Valid for SMS?", "type": "main", "index": 0 }]] },
    "Phone Valid for SMS?": { "main": [[{ "node": "Send Lead Followup SMS", "type": "main", "index": 0 }]] },
    "Send Lead Followup SMS": { "main": [[{ "node": "Log Lead SMS", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "timeSavedMode": "fixed", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false },
  "versionId": "8e4b4f16-0457-4b55-bf5f-44c43db22622",
  "meta": { "instanceId": "57d0131561cd8e704494b6c3a013d895c007284d2bb85831b19e2b772ee29e9d" },
  "id": "ESLaHmQEvtfUE1MP",
  "tags": []
}
