vapi-stress-transcript-webhook.json
{
  "name": "Vapi — Stress Test Live Transcript",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-stress-transcript",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bb000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "vapi-stress-transcript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.message.type }}",
              "rightValue": "transcript",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-002",
              "leftValue": "={{ $json.message.transcriptType }}",
              "rightValue": "final",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "bb000001-0000-0000-0000-000000000002",
      "name": "Is Final Transcript?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0000001",
              "name": "call_id",
              "value": "={{ $json.call.id }}",
              "type": "string"
            },
            {
              "id": "f0000002",
              "name": "role",
              "value": "={{ $json.message.role }}",
              "type": "string"
            },
            {
              "id": "f0000003",
              "name": "message",
              "value": "={{ $json.message.transcript }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bb000001-0000-0000-0000-000000000003",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/stress_test_transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "call_id",
              "value": "={{ $node['Extract Fields'].json.call_id }}"
            },
            {
              "name": "role",
              "value": "={{ $node['Extract Fields'].json.role }}"
            },
            {
              "name": "message",
              "value": "={{ $node['Extract Fields'].json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bb000001-0000-0000-0000-000000000004",
      "name": "Store in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "bb000001-0000-0000-0000-000000000005",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Final Transcript?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Final Transcript?": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Store in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Supabase": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "vapi-stress-transcript-live",
  "tags": []
}
